html{margin: 0;padding:0;
scroll-behavior: smooth;}
.bg0{background: #fff0e0 !important;}
.bg1{background: #ffd7ab}
.bg2{background: #e6b68b}
.bg3{background: #cd966c}
.bg4{background: #b4764f}
.bg5{background: #9a5833}
.bg6{background: #874421}
.bg7{background: #7c3b1a !important}
.bg8{background: #713112 !important}
.bg9{background: #66280a}
.bg10{background: #5b1f00}
.bg11{background: linear-gradient(30deg, #5b1f00, #66280a)}
.bg12{background: linear-gradient(30deg, rgb(48, 20, 16),rgb(105, 35, 25),rgb(48, 20, 16));}
.bg13{background: #1f0b01 !important;}
.bg14{background: #0f0d0db0;}

body{
    background:url(https://i.imgur.com/1IwIGgr.png);
    background-repeat: repeat;
}


.menu-icon{
    background-color: rgb(231, 207, 180);
    padding: 0.6em 0.6em;
    border-radius: 50%;
    color: rgb(48, 20, 16);
    font-family: "Russo One";
    font-size: 1.2em;
    display: none;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.418);

}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}

header a{
    color: white;
    text-decoration: none;
}

.navegador ul{
    margin: 0;
    padding: 0;
    margin-right: 5rem;
    list-style: none;

}
    .navegador ul li{
        display: inline-block;
    }

        .navegador ul li a {
            display: block;
            margin-right: 1rem;
            padding: 1rem 2rem;
            text-decoration: none;
            font-size: 1.4em;
            font-family:"Russo One";
            color: rgb(236, 231, 226);
        }

        .navegador ul li a:hover {
            transition: 500ms ease-in-out;
            background-color: rgb(231, 207, 180);
            color: rgb(48, 20, 16);
            border-radius: 50%;

        }

.nav-redes ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .nav-redes ul li{
        display: inline-block;
        color: rgb(236, 231, 226);
        font-size: 1.3em;
        font-family: "Nunito";
        margin: 0em 1em;
    }

        .nav-redes ul li a{
            display: block;
            color: rgb(236, 231, 226);
            font-family: "Nunito";

        }

.nav-redes-responsive ul{
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
    .nav-redes ul li{
        display: inline-block;
        color: rgb(236, 231, 226);
        font-size: 1.3em;
        font-family: "Nunito";
        margin: 0em 1em;
    }

        .nav-redes ul li a{
            display: block;
            color: rgb(236, 231, 226);
            font-family: "Nunito";

        }




/* hasta aca el header */

/* comienza contenido */
#fallado{
    background: url(../img/manos.gif);
    background-size: cover;
    padding: 2em 0em;


    
}
    #fallado .jumbotron{
        font-family: "Nunito";
        padding: 10em;
        background: transparent;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.712);
        color: rgb(255, 253, 246);
    }




/* classic footer */


#footest{
    background: url(../img/kevineyes.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff8f0;
    font-family: "Mukta";
}

.datone{
    padding: 1.4em 0em;
}

.copyright{
    background-color: #0f0d0d;
padding: 0.5em;
display: flex;
justify-content: center;
align-items: center;
font-family: "Russo One";

}



.redesfooter nav ul{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    list-style: none;
    padding-left: 0%;
            }
            
.redesfooter nav ul li a{
    color:  #fff8f0;
            }
        
.contact-footer nav ul{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    list-style: none;
    padding-left: 0%;
    color: #fff8f0;
}
.contact-footer nav ul li a{
    color:  #fff8f0;
}




.titulos-futer{
    font-family: "Russo One";
}




/* Momento RESPONSIVE */




@media screen and (max-width: 1100px){
    .navegador ul{
        margin: 0;
        padding: 0;
        list-style: none;
        transition: 200ms ease-in-out;

    }
        .navegador ul li{
            display: inline-block;
        }

            .navegador ul li a {
                display: block;
                margin-right: 0rem;
                padding: 1rem 1.2rem;
                text-decoration: none;
                font-size: 1.2em;
                font-family:"Russo One";
                color: rgb(235, 219, 202);
            }

            .navegador ul li a:hover {
                transition: 500ms ease-in-out;
                background-color: rgb(231, 207, 180);
                color: rgb(48, 20, 16);
                border-radius: 50%;

            }
    .logo{
    padding: 1em;
    transition: 200ms ease-in-out;
    }


    #carta-ojos1 div div img{display: none } 
    #carta-ojos2 div div img{display: none }

}

   

@media screen and (max-width: 750px){
    .navegador{
        width: 100%;
    }
    .navegador ul{
        margin: 0;
        padding: 0;
        margin-right: 5rem;
        list-style: none;
        display: none;
    }

    .navegador ul.show{
        display: block;
    }

        .navegador ul li{
            display: block;
        }

            .navegador ul li a {
                display: block;
                margin-right: 1rem;
                padding: 1rem 2rem;
                text-decoration: none;
                font-size: 1.4em;
                font-family:"Russo One";
                color: rgb(235, 219, 202);
            }

            .navegador ul li a:hover {
                transition: 500ms ease-in-out;
                background-color: rgb(231, 207, 180);
                color: rgb(48, 20, 16);
                border-radius: 50%;

            }

    .menu-icon{
        display: block;
        cursor: pointer;

    }

.nav-redes ul{
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
    .nav-redes ul li{
        display: inline-block;
        color: rgb(236, 231, 226);
        font-size: 1.3em;
        font-family: "Nunito";
        margin: 0em 1em;
    }

        .nav-redes ul li a{
            display: block;
            color: rgb(236, 231, 226);
            font-family: "Nunito";

        }


.nav-redes-responsive ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
    .nav-redes ul li{
        display: inline-block;
        color: rgb(236, 231, 226);
        font-size: 1.4em;
        font-family: "Nunito";
        margin: 0em 1em;
    }

        .nav-redes ul li a{
            display: block;
            color: rgb(236, 231, 226);
            font-family: "Nunito";
            

        }



#fallado{
    margin: 6em 0em;
    background: url(../img/manos.gif);
    background-size: cover;
    
}            

    #fallado .jumbotron{
        font-family: "Nunito";
        padding: 1em;
        background: transparent;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.712);
        color: rgb(255, 253, 246);
    }



}




